._section {
  position: relative;
  background-color: #FFFFFF;
}

._inner {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 50px 280px;
  cursor: pointer;
}

@media (max-width: 460px) {
  ._inner {
    flex-direction: column;
  }
}
