._section {
  position: relative;
  background-color: #f5f5f5;
  height: 100vh;
}

._inner{
  width: '100%';
  padding: 80px 100px 0 100px;
}

._title {
  font-size: 54px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.2rem;
  color: #000;
  cursor: default;
  white-space: pre-line;
  font-family: var(--font-mono);
  padding: 0rem 4rem 3rem 2rem;
}

._container_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

._margin_right {
  margin-right: 2rem;
}

._card_client {
  width: 370px;
  max-width: 100%;
  background-color: var(--white-color);
  height: 580px;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  padding: 3rem 1.65rem 3.5rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: var(--border-shadow);
  cursor: pointer;
  margin-bottom: 2rem;
}

._card_client:hover {
  transform: scale(1.1);
}

._card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

._name_client {
  font-family: var(--font-mono);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: -0.04rem;
  text-align: center;
  color: var(--black-color);
  cursor: default;
}

._description_client {
  font-family: var(--font-mono);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: -0.04rem;
  text-align: center;
  color: var(--black-color);
  cursor: default;
}

._name_weight {
  margin-top: 1.5rem;
  font-weight: 800;
}

._review_card {
  font-family: var(--font-sub);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: -0.04rem;
  max-height: 422px;
  cursor: default;
  text-align: center;
  color: var(--black-color);
  text-wrap: balance;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

._value-review {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  margin-right: 0.5rem;
  color: var(--black-color);
}

@media (max-width: 1440px) {
  ._inner{
    width: '100%';
    padding: 0px 100px 0 100px;
  }
  ._title {

    padding: 2rem 4rem 3rem 2rem;
  }
}

@media (max-width: 460px) {
  ._title {
    font-size: 5.5vw;
    padding: 2rem 1rem 1rem;
    letter-spacing: -0.1rem;
  }
  ._card_client {
    width: 100%;
    padding: 2rem 1rem 2.5rem;
  }
  ._margin_right {
    margin-right: 0;
  }
}
