._section {
  position: relative;
  background-color: #f5f5f5;
}

._inner {
  margin: 0 100px;
  padding-bottom: 20px;
}

._container_text {
  margin-bottom: 20px;
  padding: 50px 0 0 0;
}

._title_help {
  font-family: var(--font-mono);
    font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--black-color);
  text-align: left;
}

._subtitle_help {
  font-size: 1.5vw;
  line-height: 1.5;
  font-family: var(--font-sub);
  color: var(--light-text-color);
  max-width: 100%;
  text-align: left;
}

._list_help {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  z-index: 2;
}

._item_list {
  box-sizing: border-box;
  width: 19.5%;
  color: var(--black-color);
  display: flex;
  position: relative;
  list-style-type: none;
  display: list-item;
  text-align: -webkit-match-parent;
  text-align: left;
  cursor: pointer;
}

._item_list:after,
._item_list:before,
._item_list:hover:after {
  content: "";
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s;
  position: absolute;
  display: inline-block;
}

._item_list:before {
  background-size: 125%;
  left: -50%;
  right: -50%;
  width: 200%;
  height: 150%;
  pointer-events: none;
}

._item_list:after {
  background-color: #fff;
  border: 1px solid rgba(205, 208, 227, 0.295455);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-out opacity 0.8s;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  border-radius: 12px;
}

._item_list:hover:after,
._item_list:hover:before,
._item_list:hover:after {
  opacity: 1;
}

._container_card {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  border-radius: 12px;
  padding: 30px;
  max-width: 380px;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  cursor: normal;
}

._container_card::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 33px;
  height: 21px;
  background: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjMzIiBoZWlnaHQ9IjIxIiB2aWV3Qm94PSIwIDAgMzMgMjEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgOS4xOTU0M0MwLjQ0NzcxNSA5LjE5NTQzIDAgOS42NDMxNSAwIDEwLjE5NTRDMCAxMC43NDc3IDAuNDQ3NzE1IDExLjE5NTQgMSAxMS4xOTU0VjkuMTk1NDNaTTMxLjUgMTAuMTk1NEwzMi4xNzY5IDEwLjkzMTVDMzIuMzgyOCAxMC43NDIyIDMyLjUgMTAuNDc1MiAzMi41IDEwLjE5NTRDMzIuNSA5LjkxNTY3IDMyLjM4MjggOS42NDg3IDMyLjE3NjkgOS40NTkzNEwzMS41IDEwLjE5NTRaTTIyLjE3NjkgMC4yNjM5MDJDMjEuNzcwMyAtMC4xMDk5MjYgMjEuMTM3NyAtMC4wODM0MTA0IDIwLjc2MzkgMC4zMjMxMjVDMjAuMzkwMSAwLjcyOTY2MSAyMC40MTY2IDEuMzYyMjcgMjAuODIzMSAxLjczNjFMMjIuMTc2OSAwLjI2MzkwMlpNMjAuODIzMSAxOC42NTQ4QzIwLjQxNjYgMTkuMDI4NiAyMC4zOTAxIDE5LjY2MTIgMjAuNzYzOSAyMC4wNjc3QzIxLjEzNzcgMjAuNDc0MyAyMS43NzAzIDIwLjUwMDggMjIuMTc2OSAy MC4xMjdMMjAuODIzMSAxOC42NTQ4Wk0xIDExLjE5NTRIMzEuNVY5LjE5NTQzSDFWMTEuMTk1NFpN MjAuODIzMSAxLjczNjFMMzAuODIzMSAxMC45MzE1TDMyLjE3NjkgOS40NTkzNEwyMi4xNzY5IDAu MjYzOTAyTDIwLjgyMzEgMS43MzYxWk0zMC44MjMxIDkuNDU5MzRMMjAuODIzMSAxOC42NTQ4TDIy LjE3NjkgMjAuMTI3TDMyLjE3NjkgMTAuOTMxNUwzMC44MjMxIDkuNDU5MzRaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+")
    no-repeat 50% / contain;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
}

._container_card:hover::after {
  transform: translate(5px);
  opacity: 1;
}

._container_card:before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

._container_image {
  position: relative;

  margin-bottom: 10px;
}

._image {
  width: 130px;
  height: 130px;
  
  object-fit: cover;
}

._circle {
  width: 100%;
  max-width: 100px;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

._title_card {
  margin-bottom: 20px;
  font-size: 1.2vw;
  line-height: 1.0;
  color: var(--black-color);
  font-family: var(--font-mono);

  font-weight: bold;
  text-align: left;
}

._subtitle_card {
  font-size: 1vw;
  color: var(--black-color);
  font-family: var(--font-mono);
  font-weight: 400;

  text-align: left;
}

._image_card {
  width: 30px;
  height: 30px;
}

@media (max-width: 1920px) {
  ._inner {
  }

  ._title_help {
      font-size: 60px;
  }

  ._subtitle_help {
    margin-top: 30px;
  }

  ._title_card {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 1440px) {
  ._inner {
  }
}

@media (max-width: 460px) {
  ._inner {
    margin: 0;
  }

  ._container_text {
    margin-bottom: 0px;
    padding: 0;
  }
  ._title_help {
    font-size: 5.5vw;
  }

  ._subtitle_help {
    font-size: 3.5vw;
  }

  ._list_help {
    display: flex;
    margin-top: 20px;
  }

  ._item_list {
    width: 28%;
    margin: 5px;
  }

  ._container_text {
    padding: 20px 0 0 20px;
  }

  ._container_card {
    padding: 5px;
  }

  ._container_card::after {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
  }

  ._container_image {
    position: relative;
    margin-bottom: 0;
  }

  ._image {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  ._title_card {
    font-size: 2.8vw;
    line-height: 1;
  }

  ._subtitle_card {
    font-size: 2.1vw;
  }
}
