._section {
    position: relative;
    background-color: #FFFFFF;
  }

  ._inner{
    padding: 10px 100px;
    flex-direction: column;
    height: 50vh;
  }
  
  ._text {
    font-family: var(--font-mono);
    font-size: 60px;
    color: var(--black-color);
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -2px;
    text-align: left;
    line-height: 120px;
    max-width: 472px;
    cursor: default;
  }

  ._container_images{
    margin-left: 150px;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50vh;
  }

  ._image:nth-child(1){
    transform: translateY(50%);
    margin-right: 50px;
  }

  ._image:nth-child(2){
    margin-right: 50px;
  }

  ._image:nth-child(3){
    transform: translateY(50%);
  }

  @media (max-width: 1920px) {
    ._container_images{
      margin-left: 350px;
    }
  }

  @media (max-width: 1440px) {

    ._inner{
      height: 40vh;
    }

    ._container_images{
      margin-left: 100px;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  
    ._image:nth-child(1){
      transform: translateY(50%);
      margin-right: 50px;
    }
  
    ._image:nth-child(2){
      margin-right: 50px;
    }
  
    ._image:nth-child(3){
      transform: translateY(50%);
    }
    ._inner{
      padding: 10px 100px;
      flex-direction: column;
      height: 70vh;
    }

    ._text {
      font-size: 60px;
    }
    
  }

  @media (max-width: 460px) {

    ._inner{
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      height: 70vh;
    }

    ._text {
      font-size: 35px;
      line-height: 56px;
    }

    ._container_images{
      margin-top: 20px;
      margin-left: 0px;
      flex-direction: column;
      padding: 0px;
      flex-wrap: wrap;
    }

    ._image{
      height: 50%;
      width: 50%
    }

    ._image:nth-child(1){
      transform: translateY(0%);
      margin-right: 0px;
    }

    ._image:nth-child(2){
      margin-right: 0px;
    }
  
    ._image:nth-child(3){
      transform: translateY(0%);
    }
  }