._floating_button {
  position: fixed;
  right: 52px;
  bottom: 0px;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  outline: none;
  transition: background-color .3s ease-in-out;
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  z-index: 5;
  opacity: 0;
  transition-property: opacity,bottom,display;
  transition-duration: .4s;
}

._floating_button_active {
  opacity: 1;
  bottom: 52px;
  display: flex;
  transition-property: opacity,bottom,display;
  transition-duration: .4s;

}

._chevron {
  width: 14px;
  height: 14px;
  text-align: center;
  margin-top:8px;
  border-width: 0 1.5px 1.5px 0;
  border-style: solid;
  border-color: white;
  transform: rotate(-135deg);
  display: inline-block;
}