._wave_container {
  background-color: #fff;
  height: 7%;
  width: 100%;
}
._wave {
  background: #292929;
  display: flex;
  flex-direction: column;
  padding: 30px 100px 0px 100px;
}

._container_info {
  display: flex;
  justify-content: start;
  gap: 350px;
  margin-bottom: 30px;
}

._column {
  /*flex: 1 1 100%;*/
  display: flex;
  flex-direction: column;
}

._list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

._item {
  font-weight: 400;
  font-family: var(--font-sub);
  font-size: 18px;
  line-height: 2;
  letter-spacing: -0.4px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  max-width: 250px;
}

._title {
  font-weight: 700;
  text-decoration: none;
  font-family: var(--font-mono);
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: -0.4px;
  color: #fff;
  margin-bottom: 0.8rem;
}

._redirections{
  font-weight: 400;
  font-family: var(--font-sub);
  font-size: 18px;
  line-height: 2;
  letter-spacing: -0.4px;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  color: #fff;
  max-width: 250px;
}

._redirections:hover{
  color:#a9a9a9;
  transition: color .3s ease-in-out;
}

._subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  font-family: var(--font-sub);
  letter-spacing: -0.4px;
  color: #fff;
}

._container_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 60px;
}

._container_copy{
  width: 25%;
}

._container_terms {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

._modules_terms{
  font-family: var(--font-mono);
  align-items: start;
  justify-content: start;
  text-align: start;
  display: block;
  text-decoration: none;
  color:var(--white-color);
  margin: 0;
  padding:5px;
  cursor: pointer;
  font-size: 16px;
  transition: color .3s ease-in-out;
}

._modules_terms:hover{
  color:#a9a9a9;

  transition: color .3s ease-in-out;
}

._container_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

._copyrigth {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  font-family: var(--font-mono);
  letter-spacing: -0.4px;
  color: #fff;
}

._img{
  transition: transform .3s ease-in;
}

._img:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: transform .3s ease-in;
}

@media (max-width: 1440px) {
  ._container_info {

    gap: 200px;

  }
}

@media (max-width: 460px) {
  ._wave {
    padding: 0px 20px 0px 20px;
  }
}
